<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="group_list">
            <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" id="0">Admin</button>
                    <button type="button" class="list-group-item list-group-item-action" id="1">HR</button>
                    <button type="button" class="list-group-item list-group-item-action" id="2">Food Preparation</button>                        
                    <button type="button" class="list-group-item list-group-item-action" id="3">Delivery</button>
                    <button type="button" class="list-group-item list-group-item-action" id="4">Serving</button>
            </div>
        
        </div>
        <div class="col-md-auto"> </div>
        <div class="col-md-2 offset-md-2">
            <h3>New employee:</h3>
            <form action="{{ url_for('.add_an_employee') }}" method="POST" enctype='application/json'>
                <div class="form-group">
                    <label for="name">Employee name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                    <label for="group">Employee group:</label>
                    <select class="form-control" id="group" name="group">
                            {% for key, value in groups.items() %}
                            <option>{{ key  }} : {{ value }}</option>
                            {% endfor %}
                        </select>  
                    
                   <!-- <input type="text" class="form-control" id="group" placeholder="Enter employee group number" name="group"> -->
                </div>
                    <button type="submit" class="btn btn-primary btn-md" name="add_employee">Add</button>
            </form>

            
            
            


        </div>
        <div class="col-md-2"> 
            <h3>New user:</h3>
                <form action="{{ url_for('.create_user') }}" method="POST">
                        <div class="form-group">
                            <label for="emp_id">Employee ID:</label>
                            <select class="form-control" id="emp_id" name="emp_id">
                                {% for emp in employees %}
                                <option>{{ emp.employee_id }}</option>
                                {% endfor %}
                            </select>    
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" placeholder="Enter password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="auth">Access level:</label>
                            <select class="form-control" id="auth" name="auth">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-md" name="add_employee">Add</button>
                    </form>
        </div>
    </div>
</div>

